<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TH&S Bologna - Chi Siamo | Soluzioni Informatiche e Servizi</title>
  <base href="/azienda">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="favicon.ico" />

    <!-- SEO Meta Tags -->
    <meta name="description" content="Scopri chi siamo in TH&S Bologna. Offriamo soluzioni informatiche personalizzate, assistenza hardware e software, e prodotti per ufficio.">
    <meta
      name="keywords"
      content="soluzioni informatiche, assistenza hardware, software, toner, stampanti, Bologna, TH&S Bologna"
    />
    <meta name="author" content="TH&S Bologna, Andrea Battista, www.thsbo.it" />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "TH&S Bologna",
        "url": "https://www.thsbo.it",
        "logo": "https://www.thsbo.it/favicon.ico",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+39 051 863340",
          "contactType": "Customer Service",
          "areaServed": "IT",
          "availableLanguage": "Italian"
        }
      }
    </script>
</head>
<body>

</body>
</html>


<main id="azienda">
  <!-- Sezioni con paragrafi -->
  @for (s of sezioni; track $index) {
  <app-azienda-sezione [sezione]="s" [id]="s.cssId" />
  }

  <app-azienda-prodotti id="prodotti" />
  <app-azienda-referenze id="referenze" />
  <app-azienda-partners id="partners" />
</main>
