<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p-carousel
  [value]="elementiCarosello"
  [numVisible]="1"
  [numScroll]="1"
  autoplayInterval="0"
  [circular]="true"
>
  <ng-template let-slide pTemplate="item">
    <div
      class="carousel_item w-full flex flex-column justify-content-evenly align-items-center pt-8"
    >
      <h1 class="slide_title text-3xl md:text-4xl lg:text-5xl text-center">
        {{ slide.titolo }}
      </h1>
      <img
        title="immagine slide"
        [src]="slide.immagine"
        [alt]="slide.titolo + ' image'"
      />
      <p
        class="text-center md:text-base lg:text-lg text-sm font-semibold lg:w-6 md:w-8 w-12"
      >
        {{ slide.descrizione }}
      </p>
    </div>
  </ng-template>
</p-carousel>
</body>
</html>




