<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TH&S Bologna - Shop</title>
  <base href="/shop">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- SEO Meta Tags -->
  <meta name="description" content="TH&S Bologna - Soluzioni informatiche su misura per hardware, software e assistenza. Shop">
  <meta name="keywords" content="Bologna, Informatica, Hardware, Software, Assistenza, TH&S Bologna, Compuprint, Xerox, Shop, eCommerce, Prodotti, Toner, Nastri, Stampanti, Compuprint, Xerox">
  <meta name="author" content="TH&S Bologna, Andrea Battista">
</head>
<body>

</body>
</html>

<section class="pt-8">
    <p-megaMenu [model]="items" class="w-full h-full z-2 capitalize" />
    <router-outlet class="mt-8"/>
</section>
