<section class="px-4">
  <div class="p-0 cursor-pointer w-max">
    <p routerLink="/shop/prodotti" class="text-primary w-max">
      <i class="pi pi-arrow-left"></i>
      Torna ai prodotti
    </p>
  </div>

  @if (prodotto) {

  <p-toast />
  <div
    class="prodotto-container mt-6 w-full flex md:flex-row flex-column justify-content-center md:align-items-start align-items-center gap-6"
  >
    <div>
      <img
        [src]="baseUrl + prodotto.immagine.url"
        alt="Immagine prodotto"
        class="product-image"
        *ngIf="prodotto.immagine != null"
      />
      <img
        src="/images/Image-not-found.png"
        alt="Immagine prodotto"
        class="product-image"
        *ngIf="prodotto.immagine == null"
      />
    </div>

    <div class="md:w-6">
      <div class="flex justify-content-center md:justify-content-start">
        <p-tag
          [value]="prodotto.categoria?.nome"
          severity="success"
          [routerLink]="
            '/shop/prodotti/categoria/' + prodotto.categoria!.nome + '/prodotti'
          "
          class="cursor-pointer capitalize"
        />
      </div>

      <h1
        class="text-center md:text-left block text-6xl font-bold mx-0 mt-2 mb-3"
      >
        {{ prodotto.nome }}
      </h1>
      <p class="line-height-3 mb-3 text-justify">{{ prodotto.descrizione }}</p>
      <p class="font-semibold m- mb-2 p-0">Consumabili</p>
      <p [innerHTML]="prodotto.consumabili | lineBreak" class="m-0 p-0 mb-3"></p>
      <p class="block text-4xl mx-0 mt-2 mb-2">
        Prezzo:
        <span class="font-semibold">€ {{ prodotto.prezzo }} <span *ngIf="prodotto.prezzo! < 250"> + €15.00 spedizione</span></span>
      </p>
      <p class="block mx-0 mt-2 mb-2">
        Giorni di consegna: Da
        <span class="font-semibold">{{ prodotto.giorniConsegnaMin }}</span> a
        <span class="font-semibold">{{ prodotto.giorniConsegnaMax }}</span>
        giorni lavorativi
      </p>
      <p class="block mx-0 mt-2" *ngIf="prodotto.disponibilita! > 0">
        Disponibilita':
        <span class="font-semibold">{{ prodotto.disponibilita }}</span>
      </p>

      <p class="block mx-0 mt-2" *ngIf="prodotto.disponibilita! <= 0">
        Disponibilita': 0
      </p>
      <div class="flex align-items-center justify-content-start gap-3 mt-4">
        <p-inputNumber
          [(ngModel)]="quantita"
          min="1"
          [showButtons]="true"
          buttonLayout="horizontal"
          spinnerMode="vertical"
          inputId="vertical"
          [inputStyle]="{ width: '3rem' }"
        >
          <ng-template pTemplate="incrementbuttonicon">
            <span class="pi pi-plus"></span>
          </ng-template>
          <ng-template pTemplate="decrementbuttonicon">
            <span class="pi pi-minus"></span>
          </ng-template>
        </p-inputNumber>

        <button
          pButton
          type="button"
          label="Aggiungi al carrello"
          (click)="aggiungiAlCarrello($event)"
          icon="pi pi-shopping-cart"
          class="md:w-auto w-"
        ></button>
      </div>
    </div>
  </div>
  } @else {
  <div
    class="surface-300 w-full h-full flex justify-content-center align-items-center"
  >
    <p-progressSpinner />
  </div>
  }

  <p-confirmDialog
    rejectVisible="false"
    acceptLabel="Invia Email"
    [style]="{ width: '450px' }"
  >
    <ng-template pTemplate="message" let-message>
      <div
        class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border"
      >
        <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
        <p>
          Al momento il servizio di acquisto diretto dal sito non e'
          disponibile. <br />
          Per acquistare il prodotto si consiglia di contattare il servizio
          clienti via mail cliccando il pulsante
        </p>
      </div>
    </ng-template>
  </p-confirmDialog>
</section>
